<ion-content class="container">

  <div class="header">
    <h1>Emissão de Senhas</h1>
    <p>Selecione o tipo de atendimento</p>
  </div>

  <div class="buttons">
    <ion-button expand="block" (click)="gerar('SP')">
      Prioritário (SP)
    </ion-button>

    <ion-button expand="block" (click)="gerar('SG')">
      Geral (SG)
    </ion-button>

    <ion-button expand="block" (click)="gerar('SE')">
      Exames (SE)
    </ion-button>
  </div>

  <div class="senha" *ngIf="senhaGerada">
    <h2>Sua senha</h2>
    <div class="numero">{{ senhaGerada.numero }}</div>
  </div>

</ion-content>